



<%= form_for @tool do |f| %>
    <% if @tool.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tool.errors.count, "error") %>Tool konnte nicht gespeichert werden
            aus folgenden Gründen:</h2>
          <ul><% @tool.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %></ul>
        </div>
    <% end %>



    <p>
      <%= f.label :Toolname %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit %>
    </p>


<% end %>