<h1>Analyse des Events <%= @analytic.title %>  im Zeitraum von <%= @analytic.date1 %> bis <%= @analytic.date2 %></h1>


<table>

  <tr>
    <th>Nutzer/Downloads</th>
  </tr>
</table>

<table style="border-style: dashed">
  <tr>
    <th>IPhone</th>
    <th>IPad</th>
    <th>Android</th>
    <th>Mobile Website</th>
  </tr>

  <tr>

    <td>  <%= @analytic.iPhoneUser %>  </td>
    <td>  <%= @analytic.iPadUser %>  </td>
    <td>  <%= @analytic.androidUser %>  </td>
    <td>    <%= @analytic.mwUser %>  </td>
  </tr>

  <tr>
    <td>Gesamt: </td>
  </tr>
</table>

<br>
<br>
<%= link_to 'Zurück', analytics_path %>
| <%= link_to 'Startseite', controller: 'welcome' %>